Page {
    margin-top: -20;
}

.logo {
    margin-bottom: 10;
}

TextField {
    padding: 20 10;
    background-color: rgba(255,255,255,0.2);
    margin: 10 0;
    color: white;
}

.spinnyBtn Button {
    border-color: white;
    border-width: 2;
    border-radius: 5;
    color:white;
    font-weight: bold;
    padding: 10;
    width: 200;
    background-color: rgba(255,255,255,0.2);
    font-size: 18;
    margin-top: 10;
}

.invoice_title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #6700be;
}

.invoice_total {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20;
    font-size: 25;
}

.invoiced_on {
    color: gray;
    font-size: 12;
    margin-top: 10;
    margin-bottom: 10;
    text-align: center;
}

.sectionHeader {
    text-align: center;
    margin-bottom: 0;
    color: gray;
    font-weight: bold;
}

#invoice_history .note {
    margin: 2;
}

.included_shift {
    padding: 10 30;
}

.shift_detail {
    font-size: 17;
    font-weight: bold;
    color: #6700be;
}

.shift_family_contribution {
    font-size: 13;
    color: #333;
}

.paid_tag {
    background-color: green;
    width: 150;
    font-size: 18;
    color: white;
    font-weight: bold;
    padding: 5 10;
    border-radius: 5;
    text-align: center;
}

.unpaid_tag {
    background-color: gray;
    text-align: center;
    width: 150;
    font-size: 18;
    color: white;
    font-weight: bold;
    padding: 5 10;
    border-radius: 5;
}