/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*@import 'nativescript-theme-core/css/core.light.css';*/


.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.transBtn {
    background-color: rgba(255,255,255,0.2);
    color: #e5c7ff;
    padding: 10 0;
    border-radius: 6;
    font-weight: bold;
}

.transBtn.solid {
    color: #6700be;
}

.purpleBtn {
    background-color: #6700be;
    color: white;
    padding: 10 0;
    border-radius: 6;
    font-weight: bold;
}

.setting_section_header {
    font-size: 13; 
    background-color: rgba(255,255,255,0.2); 
    padding: 5; 
    font-weight: bold; 
    color: gray; 
    width: 100%; 
    text-align: center;
}

.note {
    font-size: 12;
    color: gray;
}