Page {
    margin-top: -20;
}

.logo {
    margin-bottom: 10;
}

TextField {
    padding: 20 10;
    background-color: rgba(255,255,255,0.2);
    margin: 10 0;
    color: white;
}

TextField.plain {
    padding: 5 10;
    margin: 5 0;
    color: #333;
    background-color: transparent;
}

.spinnyBtn Button {
    border-color: white;
    border-width: 2;
    border-radius: 5;
    color:white;
    font-weight: bold;
    padding: 10;
    width: 200;
    background-color: rgba(255,255,255,0.2);
    font-size: 18;
    margin-top: 10;
}

.shifts_header {
    text-align: center;
    margin: 20 0 10 0;
}

.shifts_header .date {
    font-size: 20;
    font-weight: bold;
}

TextField.small {
    padding: 10;
    background-color: rgba(255,255,255,0.8);
    margin: 0;
    color: white;
}

TextField.dark {
    color: #333;
}


TabView {
    tab-text-color: gray;
    /* tab-background-color: #6700be;; */
    selected-tab-text-color: #6700be;
    android-selected-tab-highlight-color: #6700be;; 
}

#invoice_creator .uninvoiced_shift {
    background-color: rgba(255,255,255,0.4);
    padding: 5 0;
    margin: 2 0;
    border-radius: 3;
}

#invoice_creator .uninvoiced_shift .date {
    font-size: 15;
}

#invoice_creator .uninvoiced_shift .time {
    font-size: 13;
    color: gray;
}

#invoice_creator .uninvoiced_shift .unchecked {
    visibility: visible;
}

#invoice_creator .uninvoiced_shift .checked {
    visibility: collapse;
}

#invoice_creator .uninvoiced_shift.selected .unchecked {
    visibility: collapse;
}

#invoice_creator .uninvoiced_shift.selected .checked {
    visibility: visible;
}


/* 
#invoice_creator .uninvoiced_shift.selected .unchecked {
    opacity: 0;
}

#invoice_creator .uninvoiced_shift.selected .unchecked {
    opacity: 0;
} */

#invoice_creator .uninvoiced_shift .earned {
    color: gray;
}

#invoice_creator .uninvoiced_shift.selected .earned {
    color: green;
}